.card_descricao{
    width: 282px;
    box-shadow: 5px 5px 15px 0px #00000014;
    border-radius: 0 0 10px 10px;
    padding-bottom: 1.5em;
    transition: transform .3s;
}

.card_descricao:hover{
    transform: translate(0, -1rem);
}

.card_descricao p{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 20px;
}

.card_descricao button{
    width: 82px;
    background-color: var(--azul-medio);
    padding: 0.75rem 1.5rem;
    color: var(--branco);
    border: 3px solid var(--azul-medio);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 24px;
}

.card_descricao button:hover{
    border: 3px solid var(--azul-escuro);
}

.card_descricao img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}