.post_markdown_container h3,
.post_markdown_container h4,
.post_markdown_container h5,
.post_markdown_container h6 {
    font-family: var(--fonte-secundaria);
}

.post_markdown_container h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.post_markdown_container p {
    text-align: justify;
    hyphens: auto;
    font-size: 1.5rem;
    line-height: 2.30rem;
    margin-bottom: 1rem;
}

.post_markdown_container a {
    color: #0493d4;
    text-decoration: underline;
}

.postsRecomendados {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    text-align: center;
} 

.postsRecomendados button{
    padding: 0.2rem 1.5rem;
    
}

@media (max-width: 1000px) {
    .post_markdown_container p {
        margin-bottom: 1rem;
    }
}

@media (max-width: 744px) {
    .post_markdown_container h2 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .post_markdown_container p {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}