.conteudoContainer {
    background-color: var(--azul-escuro);
    color: var(--branco);
    text-align: center;
    padding: 0 1.5rem 6.5rem;
    border-bottom: 1px solid var(--branco);
}

.texto404{
    font-family: var(--fonte-secundaria); 
    color: var(--branco);
}

.texto404 h1{
   color: var(--azul-medio);
   font-weight: 700;
   font-size: 5rem;
   margin-top: 0.5em;
}

.texto404 h2{
    font-weight: 700;
    font-size: 2rem;
}

.texto404 p{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9rem;
}

.botaoimg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
}

.texto404 button{
    background-color: var(--azul-medio);
    padding: 1rem 2rem;
    color: var(--branco);
    border: 3px solid var(--azul-medio);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 24px;
}

.texto404 button:hover{
    border: 3px solid var(--branco);
}

.texto404 img{
    width: 300px;
    border-radius: 32px;
}

@media (max-width: 1000px) {

    .texto404 h1{
        font-size: 5rem;
    }

    .texto404 h2{
        padding: 1em 0.5em;
        line-height: 1.5em;
    }

    .texto404 p{
        text-align: center;
        hyphens: auto;
        padding: 0 0.5em;
        line-height: 1.5em;
        font-size: 1.8rem;
        line-height: 1.5em;
    }

    .texto404 button{
        font-size: 1.8rem;
    }
}

@media (max-width: 744px) {
    .texto404 h2{
        hyphens: auto;
        padding: 1em 0.5em;
        line-height: 1.5em;
    }

    .texto404 p{
        text-align: justify;
        hyphens: auto;
        padding: 0 0.5em;
        line-height: 1.5em;
    }

    .botaoimg{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1em;
        gap:1em
    }

    .texto404 button{
        font-size: 1.5rem;
    }
}