.banner{
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem 3rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    background-image: url('/public/imagens/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    gap: 11vw;
}

.info{
    font-family: var(--fonte-secundaria);
}

.info h1{
    font-size: 3rem;
    line-height: 80px;
    font-weight: 700;
}

.info p{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 31.99px;
    text-align: justify;
    hyphens: auto;
}

.info strong{
    color: #00BFFF;
}

.imagem img{
    width: 400px;
}

@media (max-width: 1000px){
    .banner{
        padding: 0rem 1.5rem 3rem;
        gap: 20px;
    }

    .info h1{
        font-size: 3rem;
        font-weight: 700;
    }
    
    .info p{
        line-height: 35px;
    }
    
    .imagem img{
        display: none;
    }
}

@media (max-width: 744px){
    .banner{
        flex-direction: column;
    }
    
    .info{
        margin: 0 auto;
    }

    .info h1{
        font-size: 1.75rem;
    }

    .info p{
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .imagem img{
        display: none;
    }
}



