.banner{
    display: flex;
    align-items: center;
    padding: 3rem 1.5rem 3rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    background-image: url('/public/imagens/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    gap: 11vw;
}

.info{
    font-family: var(--fonte-secundaria);
}

.info h1{
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
}

.info p{
    font-weight: 400;
    font-size: 24px;
    line-height: 31.99px;
}

.imagem img{
    width: 400px;
}

@media (max-width: 1000px){
    .banner{
        padding: 3rem 1.5rem 3rem;
        gap: 0;
    }

    .info h1{
        font-size: 60px;
        line-height: 80px;
        font-weight: 700;
    }
    
    .info p{
        font-weight: 400;
        font-size: 24px;
        line-height: 31.99px;
    }
    
    .imagem img{
        width: 400px;
        margin: 50px 0 ;
    }
}

@media (max-width: 744px){
    .banner{
        flex-direction: column;
        gap: 0;
    }
    
    .info{
        margin: 0 10% 0 0;
    }
}



